body{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #9a7922;
    background-image: linear-gradient( #93bb436c, #9a782279) ;
}

h5{
    font-size: 16px;
}

.mynavbar{
    background-color: #93BB43;
    
}

.img-thumbnail2 {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5rem;
  max-width: 60%;
  height: auto;
}

.navtext{
    padding-top: 10px ;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20px;
}

.align{
    text-align: center;
}

.margin{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

button{
    color: rgba(0, 0, 0, 0.74);
    background-color: #93BB43;
    border-color: rgba(0, 0, 0, 0) ;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 2rem;
}

button:hover {
    color: rgba(0, 0, 0, 0.74);
    background-color: #9a7922;
    border-color: rgba(0, 0, 0, 0) ;
}

footer{
    background-color:  #93BB43 ;
}

.footertxt{
    padding-top: 20px ;
    padding-bottom: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}